:root {
  --sf-pro-regular: 'SF Pro Regular';
  --sf-pro-bold: 'SF Pro Bold';
  --sf-mono: 'SF Mono';
  --sf-mono-bold: 'SF Mono Bold';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

body.dark {
  --primary-1: #a4161a;
  --primary-2: rgb(229, 56, 59);
  --primary-3: rgb(255, 83, 85);
  --bg-primary-1: rgb(22, 26, 29);
  --bg-primary-1-shadow: rgba(2,12,27,0.7);
  --bg-primary-1-transparent: rgba(22, 26, 29, 0.8);
  --bg-primary-2: #1c191a;
  --bg-secondary-1: #f3f3f3;
  --f-primary-1: #e6f1ff;
  --f-primary-2: #8892b0;
}

body.light {
  --bg-primary-1: #ffffff;
  --f-primary-1: #2e3033;
  --bg-primary-1-shadow: rgba(175, 175, 175, 0.7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
